@font-face{font-family:roboto-regular;src:url(../fonts/roboto-regular.html);}
@font-face{font-family:Roboto-Light;src:url(../fonts/roboto/Roboto-Light.html);}
@font-face{font-family:Roboto-Thin;src:url('../fonts/roboto/Roboto-Thin.html');}
#mobile-slide .col-md-3{padding-bottom:25px;}
#mobile-slide .slide1{-webkit-box-shadow:0px 5px 30px 0px rgba(153, 153, 153, 0.2);box-shadow:0px 5px 30px 0px rgba(0,0,0,0.4);}
.slide1{padding:10px;}
h3{color:#ff7900;letter-spacing:2px;text-transform:uppercase;font-size:13px;font-weight:520;}
.carousel-description p{color:#000;text-transform:initial;}
@media(max-width:640px){.carousel-detail h3 span{color:#ef7900;}
.carousel-detail h3{color:#222222;letter-spacing:1px;text-transform:uppercase;font-size:12px;font-weight:520;border-bottom:1px solid #ef7900;padding-bottom:10px;}
.carousel-description p{color:#000;text-transform:initial;font-size:14px;letter-spacing:unset !important;}
.glyphicon{color:#fff;}
.glyphicon .fa{color:#fff;}
.carousel-control:focus, .carousel-control:hover{opacity:.4;}
.carousel-control:focus, .carousel-control{opacity:.4;}
.glyphicon.fa.fa-arrow-circle-right{font-size:25px;margin-top:50px;}
.glyphicon.fa.fa-arrow-circle-left{font-size:25px;margin-top:50px;}
}